# Compile related folder
.deps/

# Userdata related folders
/Cache/
/Mapsets/

# Autotools related files
/missing
/depcomp
/compile
/configure
/config.status
/install-sh
/Makefile.in
/config.h.in
/config.h
/Makefile
/stamp-h1
/aclocal.m4
/config.log
/config.status
/config.guess
/config.sub
autom4te.cache/

# macOS Auto Generate Files
.DS_Store

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
